* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #FFBA08;
}

.container {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controls {
  background-color: white;
  display: flex;
  border-radius: 1rem;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  margin-bottom: 20px;
  width: 700px;
  box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 1);
}

.stats {
  margin-left: 20px;
  font-size: 1.2rem;
  font-weight: bold;
}

.controls > button {
  margin-right: 20px;
  padding: 15px 30px;
  border: 1px solid #FAA307;
  border-radius: 1rem;
  background-color: white;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.controls > button:hover {
  color: white;
  background-color: #FAA307;
}

.game {
  background-color: white;
  padding: 20px;
  border-radius: 1rem;
  box-shadow: 0px 0px 15px -5px rgb(0 0 0);
  display: grid;
  grid-template-columns: repeat(4, 150px);
  grid-template-rows: repeat(4, 150px);
  grid-gap: 20px;
}

.card {
  box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 1);
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
  transform-style: preserve-3d;
  background-color: white;
}

.front,
.back {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  backface-visibility: hidden;
  transition: transform 0.7s ease-out;
}

.front {
  /* background-image: url("/images/rick-and-morty.png"); */
  background-image: url(https://www.freepnglogos.com/uploads/rick-and-morty-png/rick-and-morty-portal-shoes-white-clothing-zavvi-23.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;
  background-color: white;
}

.rotated {
  transform: rotateY(180deg);
}

.back {
  height: 100%;
}

.back > img {
  height: 100%;
  width: 100%;
}
